---
import ThemeSwitcher from "./ThemeSwitcher.astro"
import Todo from "./Todo.astro"
import CreateTodo from "./CreateTodo.astro"
---

<section class="todo-app container">
  <header class="todo-header">
    <h1>TODO</h1>
    <ThemeSwitcher />
  </header>

  <CreateTodo />

  <div class="todo-list">
    <div class="todos-wrapper">
      <Todo />
    </div>

    <hr>
    <footer class="todo-list-footer">
      <div>
        <p>
          <span class="items-left"></span>
          items left
        </p>
      </div>
      <div class="filters">
        <button class="filter-all active">All</button>
        <button class="filter-active">Active</button>
        <button class="filter-completed">Completed</button>
      </div>
      <div>
        <button class="clear-completed">Clear completed</button>
      </div>
    </footer>
  </div>
</section>

<style>
  .todo-app {
    --app-padding: 1rem 1.3rem;

    padding: 3em 0em;
  }

  .todo-header {
    color: var(--text-heading);
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8em;
    
    h1 {
      font-size: 1.9em;
      letter-spacing: 20px;
      text-shadow: 5px 5px 5px rgb(0, 0, 0, .1);
    }
  }
  
  .todo-app > div {
    background-color: var(--primary-bg);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    transition: var(--theme-transition);
  }

  .todos-wrapper {
    height: 20.64445em;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--text-checked) transparent;
    mask-image: linear-gradient(to bottom, black 96%, transparent 100%);
  }

  .todo-list-footer {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    color: var(--text-secondary);
    font-size: .9em;
    border-radius: 0px 0px 5px 5px;
    transition: var(--theme-transition);

    background-color: var(--primary-bg);
    bottom: 0;

    p {
      text-wrap: nowrap;
    }

    button {
      text-wrap: nowrap;
    }

    button.active {
      color: var(--text-accent);
      pointer-events: none;
    }

    div {
      display: flex;
      align-items: center;
      padding: var(--app-padding)
     }

    div:first-child {
      justify-content: start;
      pointer-events: none;
    }

    div:last-child {
      justify-content: end;
      grid-column: 3;
    }

    div:nth-child(2) button {
      font-weight: 700;
      height: 100%;
    }
  }

  .filters {
    display: flex;
    gap: 1em;
    height: 100%;
  }

  @media (width <= 560px) {
    .todo-app {
      padding-bottom: 4em;
    }

    .todos-wrapper {
      height: 17.2em;
    }

    .filters {
      position: absolute;
      bottom: -125%;
      width: 100%;
      justify-content: center;
      background-color: var(--primary-bg);
      border-radius: 5px;
      box-shadow: var(--box-shadow);
      user-select: none;
      -webkit-user-select: none;
    }

    .filters button {
      user-select: none;
      -webkit-user-select: none;
    }
  }
</style>

<script>
  const todoInput = document.querySelector(".input-todo-name") as HTMLInputElement
  const todoList = document.querySelector(".todos-wrapper") as HTMLElement
  const newTodoCheckbox = document.querySelector(".create-todo .custom-checkbox") as HTMLElement
  const clearBtn = document.querySelector(".clear-completed") as HTMLButtonElement
  const todoLeft = document.querySelector(".items-left") as HTMLSpanElement

  const todoTemplate = document.querySelector(".todo")
  todoTemplate.remove()

  let todos = JSON.parse(localStorage.getItem("todos")) || [];
  localStorage.setItem('todos', JSON.stringify(todos))

  todoLeft.textContent = todos.filter(todo => todo.checked === false).length

  function addToStorage(todo, state) {
    const userTodo = {name: todo, checked: state}
    todos.push(userTodo)
    localStorage.setItem("todos", JSON.stringify(todos))
  }

  function todoCheckbox(element, name) {
    element.addEventListener("click", () => {
      let currentTodo = todos.findIndex(todo => todo.name === name)
      todos[currentTodo].checked
        ? todos[currentTodo].checked = false
        : todos[currentTodo].checked = true
      localStorage.setItem("todos", JSON.stringify(todos))
      element.toggleAttribute("aria-checked")
      element.querySelector("img").toggleAttribute("aria-hidden")
      todoLeft.textContent = todos.filter(todo => todo.checked === false).length
    })
  }

  function appendList(list) {
    list.forEach(todo => {
      let todoName = todo.name
      let todoChecked = todo.checked
  
      let storagedTodo = document.createElement("div")
      storagedTodo.innerHTML = todoTemplate.outerHTML
      storagedTodo.querySelector(".todo-name").textContent = todoName
      todoChecked
        ? storagedTodo.querySelector(".custom-checkbox").setAttribute("aria-checked", "")
        : ""
      todoList.appendChild(storagedTodo)
  
      storagedTodo.querySelector(".custom-checkbox").addEventListener("click", () => {
        let currentTodo = todos.findIndex(todo => todo.name === storagedTodo.querySelector(".todo-name").textContent)
        todos[currentTodo].checked
          ? todos[currentTodo].checked = false
          : todos[currentTodo].checked = true
        localStorage.setItem("todos", JSON.stringify(todos))
        todoLeft.textContent = todos.filter(todo => todo.checked === false).length
      })
    })
  }

  function filteredCheckbox() {
    todoList.querySelectorAll<HTMLElement>(".custom-checkbox").forEach(button => {
      let filteredTodoWrapper = button.parentElement.parentElement
      button.addEventListener("click", () => {
        button.toggleAttribute("aria-checked")
        button.querySelector("img").toggleAttribute("aria-hidden")
        filteredTodoWrapper.style.animation = "slideOut .2s forwards .14s"
        filteredTodoWrapper.addEventListener("animationend", () => {
          filteredTodoWrapper.remove()
        })
      })
    })
  }

  function removeTodo(todo) {
    todo.style.animation = "slideOut .2s forwards"
    todo.addEventListener("animationend", () => {
      todo.remove()
      
      const todoName = todo.querySelector(".todo-name").textContent
      const removedTodoIndex = todos.findIndex(todo => todo.name === todoName)
      
      if (removedTodoIndex !== -1) {
        todos.splice(removedTodoIndex, 1)
      }
      localStorage.setItem("todos", JSON.stringify(todos))
    })
  }

  todoInput.addEventListener('keyup', function (e) {
    const coincidences = todos.find(todo => todo.name.toLowerCase() === todoInput.value.toLocaleLowerCase())

    if (e.key === 'Enter' && coincidences == null && todoInput.value != "") {
      let newTodo = document.createElement("div")
      newTodo.innerHTML = todoTemplate.outerHTML
      newTodo.querySelector(".todo-name").textContent = todoInput.value
      todoList.appendChild(newTodo)
      let currentCheckbox = newTodo.querySelector(".custom-checkbox")

      if (newTodoCheckbox.hasAttribute("aria-checked")) {
        newTodo.querySelector(".custom-checkbox").setAttribute("aria-checked", "")
      }

      newTodoCheckbox.hasAttribute("aria-checked")
        ? addToStorage(newTodo.querySelector(".todo-name").textContent, true)
        : addToStorage(newTodo.querySelector(".todo-name").textContent, false)

      todoCheckbox(currentCheckbox, newTodo.querySelector(".todo-name").textContent)

      let removeTodoBtn = newTodo.querySelector(".remove-todo-btn") as HTMLElement
      removeTodoBtn.addEventListener("click", () => {
        let currentTodo = removeTodoBtn.parentElement.parentElement.parentElement;

        removeTodo(currentTodo)
      })

      todoLeft.textContent = todos.filter(todo => todo.checked === false).length
      todoInput.value = ""

    } else if (e.key === 'Enter' && coincidences != null) {
      alert("Todo already exists")
    }
  })

  clearBtn.addEventListener("click", () => {
    const completed = todoList.querySelectorAll<HTMLElement>(".custom-checkbox[aria-checked]");
    completed.forEach(todo => {
      const todoWrapper = todo.parentElement.parentElement as HTMLElement;
      removeTodo(todoWrapper)
    })
  })

  appendList(todos)

  let filteredTodoList = []
  const filterAll = document.querySelector(".filter-all") as HTMLButtonElement
  const filterActive = document.querySelector(".filter-active") as HTMLButtonElement
  const filterCompleted = document.querySelector(".filter-completed") as HTMLButtonElement
  const filters = document.querySelectorAll<HTMLElement>(".filters button")

  filterAll.addEventListener("click", () => {
    filteredTodoList = todos
    todoList.innerHTML = ""

    appendList(filteredTodoList)
    todoList.querySelectorAll<HTMLElement>(".custom-checkbox").forEach(button => {
      button.addEventListener("click", () => {
        button.toggleAttribute("aria-checked")
        button.querySelector("img").toggleAttribute("aria-hidden")
      })
    })

    filters.forEach(button => {
      button.classList.remove("active")
    })
    filterAll.classList.add("active")
  })

  filterActive.addEventListener("click", () => {
    filteredTodoList = todos.filter(todo => todo.checked == false)
    todoList.innerHTML = ""

    appendList(filteredTodoList)
    filteredCheckbox()

    filters.forEach(button => {
      button.classList.remove("active")
    })
    filterActive.classList.add("active")
  })

  filterCompleted.addEventListener("click", () => {
    filteredTodoList = todos.filter(todo => todo.checked == true)
    todoList.innerHTML = ""

    appendList(filteredTodoList)
    filteredCheckbox()

    filters.forEach(button => {
      button.classList.remove("active")
    })
    filterCompleted.classList.add("active")
  })

</script>