---
import Checkbox from "./Checkbox.astro"
---

<div class="todo">
  <div class="todo-check">
    <Checkbox />
    <p class="todo-name"></p>
    <div class="remove-todo">
      <button class="remove-todo-btn">
        <img src="/icon-cross.svg" alt="Delete icon">
      </button>
    </div>
  </div>
  <hr>
</div>

<style>
  .todo-check {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 1.3rem;
    padding-top: 1rem;
    padding-bottom: .8rem;
    animation: slideIn .2s forwards;
  }

  p {
    padding-top: .1em;
    position: relative;
    transition: color .12s ease-in-out;
    overflow-wrap: anywhere;
    text-wrap: wrap;
    text-wrap-style: pretty;
  }

  p::after {
    width: 0%;
    content: '';
    position: absolute;
    align-self: center;
    top: 50%;
    left: 0;
    height: 1px;
    display: block;
    background-color: var(--text-checked);
    transition: width .2s ease-in-out;
  }
  
  .todo-check:has(.custom-checkbox[aria-checked]) > p {
    color: var(--text-checked);
  }
  
  .todo-check:has(.custom-checkbox[aria-checked]) > p::after {
    width: 100%;
  }

  .remove-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
</style>